.title {
  text-align: center;
  color: red;
  font-size: 40px;
  font-family: fantasy,sans-serif,'Times New Roman', Times, serif;
}
.link {
  background-color: rgba(0, 0, 255, 0.179);
  color: black;
  font-size: 24px;
}
